version: "3"

services:
  iipserver:
    build: .
    volumes:
      - ./tiff:/images
    environment:
      - LOGFILE=/tmp/iipsrv.log
      - VERBOSITY=10
      - FILESYSTEM_PREFIX=/images/
      - MAX_IMAGE_CACHE_SIZE=10
      - MAX_CVT=3000
      - JPEG_QUALITY=90
    command: sh start.sh
  nginx:
    build: ./nginx
    ports:
      - 80:8080
    volumes:
      - ./nginx/nginx-proxy.conf:/etc/nginx/conf.d/default.conf:ro
    cap_drop:
      - ALL
    depends_on:
      - iipserver
